/* Variants */

:root{
    /* Brend colors */
    --accent-color: #6B007B;

    /* Neutral colors */
    --gray-600: #0A0B10;
    --gray-300: #171923;
    --gray-100: #34384B;
    --gray-hover: #242635;
    --white: #fff;

    /* Text */
    --secondary-text: #636985;
}


/* Main */

body{
    margin: 0;
    padding: 0;

    font-family: Inter;
    color: var(--white);

    background: var(--gray-600)
}

*{
    box-sizing: border-box;
}

section{
    margin: 20px;
}

.container{
    margin: 0 auto;
    max-width: none;
}


/* Typography */

h1, h2, h3{
    margin: 0;
}

h1{
    font-size: 16px;
    font-weight: 400;
}

h3 {
    font-size: 16px;
    font-weight: 400;
}

p{
    font-size: 14px;
    margin: 0;

    line-height: 1.4em;
}

.count {
    text-align: center;

    color: var(--secondary-text);
}

/* Sections */


/* ---OFFER SECTION--- */

.offer-wrapper{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 162px;
    padding: 0 20px 0 130px;

    position: relative;
    
    overflow: hidden;

    border-radius: 10px;
    background: var(--accent-color);
}

/* Text */

.offer-title{
    flex: 100;
}

/* Image */
.offer__image{
    width: 118px;
    height: 118px;
    transform: rotate(14deg);
    flex-shrink: 0;

    position: absolute;
    left: -25px;
    bottom: 24px;

    border-radius: 10px;
    background: #171923;
    box-shadow: 0px 0px 594.72px 0px #C882D3, 0px 0px 339.84px 0px #C882D3, 0px 0px 198.24px 0px #C882D3, 0px 0px 99.12px 0px #C882D3, 0px 0px 28.32px 0px #C882D3, 0px 0px 14.16px 0px #C882D3;
}


/* ---CARDS SECTION--- */

/* Card */

.cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card{
    height: 240px;
    min-width: 152px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 100;

    position: relative;

    overflow: hidden;

    border-radius: 10px;
    background: var(--gray-300);

    &:hover{
        background: var(--gray-100);
    }
}

.card-info-wrapper{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card-title{
    color: var(--white);
}

.card-image{
    position: absolute;
    left: -18px;
    top: -10px;
    transform: rotate(-20deg);
}


/* Progress bar */
.progress{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.progress-bar{
    width: 100%;
    height: 6px;

    position: relative;

    border-radius: 20px;
    background: var(--gray-100);
}

.progress-bar-inner{
    height: 100%;
    width: 0%;

    position: absolute;

    border-radius: 20px;
    background: var(--accent-color);
}